.actions{
    display: flex;
    margin-bottom: 10px;
}

.content{
    flex: 1 1 auto;
}

.comment-btn{
    flex: 0 0 auto;
}

.comments{
    display: flex;
    flex-direction: column;
    gap: 10px;
}