.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1260px;
    box-shadow: var(--tui-shadow-popup);
    border-radius: var(--tui-radius-l);
}

.nav {
    width: 100%;
    height: 60px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--tui-background-neutral-1);

    .avatar:hover {
        cursor: pointer;
        animation: shakeAnim 0.5s ease-in-out;
    }
}

.colorful-text {
    font-weight: 700;
    font-style: normal;
    background: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    @extend .colorful-text;
    font-family: "Crafty Girls", cursive;
    flex: 1 1 20%;
    font-size: 40px;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-start;
}

.search-bar {
    flex: 1 1 80%;
}

.my-profile {
    flex: 0 0 10%;
    display: flex;
    justify-content: center;
}

.main {
    padding: 25px;
    width: 100%;
    height: calc(100% - 60px);
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Crafty Girls", cursive;
    gap: 10px;
}

.profile-header {
    width: 100%;
    display: flex;
    word-break: break-all;
    align-items: center;
    gap: 10px;
}

.profile-name {
    @extend .colorful-text;
    font-size: 25px;
}

.profile-stats {
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    div {
        box-shadow: var(--tui-shadow-popup);

        span {
            @extend .colorful-text;
            font-weight: 700;
            font-size: 18px;
        }
    }
}

.profile-description {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px 0;
}

.post {
    display: block;
    width: 300px;
    aspect-ratio: 9/16;
    max-height: 500px;
}

@media(max-width: 500px) {
    .logo {
        display: none;
    }

    .post {
        width: 100%;
    }
}